* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  /* #1E1E1E to rgba */
  background-color: rgba(30, 30, 30, 0.04);
  height: '200vh',
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url('./fonts/Gilroy-Light.otf') format('opentype');
}
